<!DOCTYPE html>
<head>
		<meta charset="utf-8">
		<title>Index.ejs</title>
		<!-- Told by app.use() that the path to the bootstrap folder is, entry '/' -->
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bootstrap/css/bootstrap-theme.min.css">

		<!--<script src="jss/loginScript.js"></script>-->
</head>