<!doctype html>

<html lang="en">
	<head>
		<% include ../partials/head.ejs %>
		<title>index.ejs</title>
	</head>
	<body>
		<% include ../partials/header.ejs %>
		<div class="container">
			<div id="content">
			
			</div>
		</div>
		
		<% include ../partials/footer %>
	</body>
</html>