<!doctype html>

<html lang="en">
	<head>
		<% include ../partials/head.ejs %>
		<title>registerUSer.ejs</title>
	</head>
	<body>
		<% include ../partials/header.ejs %>
		<div id="content">
			<div class="container">
				<div class="row">
					<form method="POST" class="center-form">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" class="form-control" id="username" name="username" value="<%= user.username %>"" placeholder="Username">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="password" class="form-control" id="password" name="password" value="<%= user.password %>" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" class="form-control" id="name" name="name" value="<%= user.name %>" placeholder="Name">
							</div>
						</div>
						<center><input type="submit" class="btn btn-default" id="create" value="Create user" /></center>
					</form>
				</div>
			</div>
		</div>
		<% include ../partials/footer %>
		
	</body>
</html>